@import './common/responsiveDesignHelpers';

@-webkit-keyframes pop-in {
  0% { opacity: 0; -webkit-transform: scale(0.9); }
  80% { opacity: 1; -webkit-transform: scale(1.05); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
  0% { opacity: 0; -moz-transform: scale(0.9); }
  80% { opacity: 1; -moz-transform: scale(1.05); }
  100% { opacity: 1; -moz-transform: scale(1); }
}
@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.9); }
  80% { opacity: 1; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}

.wrapper {
  background-color: #232323;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23555556' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  box-shadow: 0px 5px 20px 6px #000000;
  min-height: 250px;
  border-radius: 10px;
  color: white;
  padding: 20px;
  min-width: 500px;
  -webkit-animation:pop-in 0.3s;
  -moz-animation:pop-in 0.3s;
  -ms-animation:pop-in 0.3s;
}

.title {
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  display: flex;
  border-bottom: 1px solid white;
  width: 200px;
}

.subTitle {
  font-size: large;
  font-style: italic;
  display: flex;
  border-bottom: 1px solid gray;
  width: 200px;
  color: gray;
}

.mainEarningsDisplay {
  display: flex;
  flex-direction: row-reverse;
  font-size: xx-large;
  margin: 20px;
}

.subEarningsDisplay {
  display: flex;
  flex-direction: row-reverse;
  font-size: large;
  margin: 20px;
  color: gray;
}

.spacer {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.settings{
  display: flex;
}

.workStatus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 20px;
  color: #b4a390;
}

@include responsive(mobile) {
  .wrapper {
    min-width: 0px;
  }
}