@import '../common/responsiveDesignHelpers';

.wrapper {
  background-color: #232323;
  min-height: 250px;
  border-radius: 10px;
  color: white;
  padding: 20px;
  min-width: 500px;
}

.title {
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  display: flex;
  border-bottom: 1px solid white;
  width: 200px;
  align-items: center;
  padding-bottom: 4px;
}

.icon {
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: flex-start;
  white-space: nowrap;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.dates {
  display: flex;
  flex-direction: row;
}

.day {
  display: flex;
  justify-content: flex-end;
}

.darkBg {
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.input {
  margin-left: 10px;
  display: inline;
}

.checkbox{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  margin-left: 5px;
}

.datesPairWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobileShiftingMargin {
  margin: 10px;
}

.mobileOnlyVertMargin {
  margin: 0px;
}

.spacer {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
}

.datePicker {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: -3px;
  margin-right: -3px;
}

@include responsive(mobile) {
  .wrapper {
    min-width: 0px;
  }
  .inputWrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .right {
    justify-content: flex-start;
  }
  .dates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
  }
  .mobileShiftingMargin {
    display: none;
  }
  .datesPairWrapper {
    flex-direction: column;
  }
  .mobileOnlyVertMargin {
    margin-top: 8px;
  }
}